<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ info.web_title }}</title>
    <meta name="description" content="{{ info.web_content }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-800 min-h-screen">
<header class="bg-white shadow-sm">
    <nav class="container mx-auto px-4 py-4 flex justify-between items-center">
        <a href="/" class="text-2xl font-bold text-teal-600">{{_("TikTok Voice Generator")}}</a>
        <select id="languageSwitch"
                class="bg-gray-100 text-teal-600 rounded-md px-3 py-2 focus:ring-2 focus:ring-teal-300 focus:outline-none">
            <option value="en">English</option>
            <option value="zh">中文</option>
        </select>
    </nav>
</header>

{% block content %}{% endblock %}

<footer class="bg-white shadow-sm">
    <div class="container mx-auto px-4 py-6 text-center">
        <p>{{_("© 2024 TikTok Voice Generator.")}}</p>
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const languageSwitch = document.getElementById('languageSwitch');

        // Set initial value based on current URL
        const currentLang = window.location.pathname.split('/')[1] || 'en';
        languageSwitch.value = currentLang;

        languageSwitch.addEventListener('change', function() {
            const selectedValue = this.value;
            window.location.href = '/' + selectedValue + '/';
        });
    });
</script>

</body>
</html>